<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.micgo" >

    <!-- 加入在SDCard中创建与删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 加入在SDCard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ffmpeg.FFmpegActivity"/>
        <activity android:name=".ffmpeg.primary.FFmpegPrimaryActivity"/>
        <activity android:name=".ffmpeg.primary.AudioEncodeActivity"/>
        <activity android:name=".mediacodec.MediaCodecActivity"/>
        <activity android:name=".mediacodec.SimpleAudioActivity"/>
        <activity android:name=".mediacodec.AudioTrackPcmActivity"/>
        <activity android:name=".others.OthersActivity"/>
        <activity android:name=".others.CheckMetadataActivity"/>
        <activity android:name=".others.NIOActivity"/>
        <activity android:name=".others.RBLActivity"/>
        <activity android:name=".others.SerialReadActivity"/>
        <activity android:name=".others.TextureViewActivity" android:theme="@style/NoTitleTheme"/>
        <activity android:name=".others.SnowActivity"/>
        <activity android:name=".exoplayer.ExoPlayerActivity"/>
        <activity android:name=".exoplayer.SniffActivity"/>
        <activity android:name=".exoplayer.PlayListAvtivity"/>
        <activity android:name=".exoplayer.LinkSourceAvtivity"/>

    </application>

</manifest>